<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="st.ghostca.ghostcast" >

    <!-- Accessing Camera and Audio Recorder -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="st.ghostca.ghostcast.ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="st.ghostca.ghostcast.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="st.ghostca.ghostcast.utils.Themes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="st.ghostca.ghostcast.camera.CameraActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="st.ghostca.ghostcast.ui.Login"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
